* {margin: 0px; padding: 0px;} 
html,body { padding: 0; margin: 0; font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif; overflow:hidden;}
input[type="text"] {border: 1px solid #bbb; padding: 2px 5px; box-sizing: border-box;}
textarea {border: 1px solid #bbb; padding: 2px 5px; box-sizing: border-box;}
.hidden {display: none;}
.a {color: #337ab7; cursor: pointer; text-decoration: none;}
.clickable {cursor: pointer}
#template-row {display: none;}
.dygraph-legend {width: initial !important; right: 0 !important; left: initial !important;}
.dygraph-legend > span {display: block;}

.top-menu {padding: 5px; border-bottom: 1px #eee solid; background-color: #f5f5ff; display: none;}
.top-menu[admin] {display: block;}
.top-menu > div {display: inline-block; cursor: pointer; border-bottom: 1px dashed #eef; margin-left: 10px;}

.history-period {visibility: hidden; position: absolute; display: none;}
.history-period-value {cursor: pointer;}
.history-period-block {position: absolute; right: 20px; padding: 5px 10px; border-radius: 5px; background: #cfc; display: none;}

.top-menu #template-list #template-remove {float: right; position: relative; top: -3px;}

#app {background: url(logo.png) center no-repeat; width: 100%}
#app #navigator {width: 200px; height: 100%; position: relative;}
#app #navigator[status="1"] {background: rgba(200,255,200,0.5)}
#app #navigator[status="2"] {background: rgba(255,255,200,0.5)}
#app #navigator[status="3"] {background: rgba(255,200,200,0.5)}
#app #navigator #device-list {margin-bottom: 40px}
#app #navigator #alert-block {cursor: pointer; border: 1px solid #eee; font-size: 24px; line-height: 40px; bottom: 0; height: 40px; position: absolute; left: 0; right: 0; text-align: center; background: #fff}
#app #navigator #alert-block span:before {display: inline-block; content: '\002639'; margin: 0 5px; font-weight: bold;}
#app #navigator #alert-block #warning:before {color: gold}
#app #navigator #alert-block #critical:before {color: #f00}

#app #page-wrapper {background: #fff; height: 100%;}
#app #page-content {padding: 20px;}
#app #dashboard {display: none;}
#app #page:empty ~ #dashboard {display: initial;}
#app #page-close {position: absolute; right: 10px; top: 5px; cursor: pointer;}
#app #page:empty ~ #page-close {display: none;}

#app #dashboard .tag-list {text-align: left; margin: 0 10px; padding: 10px;}
#app #dashboard[hidden] {display: none;}
#app #dashboard .tag-list div {display: inline;}
#app #dashboard .tag-list label {margin-right:10px;padding: 5px 10px 5px 5px; cursor: pointer;}
#app #dashboard .tag-list input {display: none}
#app #dashboard .tag-list input:checked + label {background:#eee;}
#app #dashboard #device-tag-list {border-bottom: 1px solid #eee}
#app #dashboard .history-period-block {margin-top: -10px;} 
#app #dashboard #graph-block {padding: 30px;}
#app #dashboard #graph {display: block;}

#app #device-list {list-style: none;}
#app #device-list li {cursor: pointer; margin: 3px 0; padding: 3px; padding-left: 10px;}
#app #device-list li.active {background-color: #f5f5ff;}
#app #device-list li[status]:before {float: left; width: 10px; height: 10px; border-radius: 50%; border:1px solid #eee; background: white; display: inline-block; content: ''; position: relative; top: 12px; margin-right: 3px;}
#app #device-list li[status="1"]:before {background: #0f0}
#app #device-list li[status="2"]:before {background: gold}
#app #device-list li[status="3"]:before {background: #f00}
#app #device-list li #ip {margin-left: 15px; font-size: 10px; display: inline-block;}
#app #device-list li #mac {margin-left: 10px; font-size: 10px; display: inline-block;}

#app #page-device-view .history-period-block {top: 5px; right: 30px;} 
#app #page-device-view .top-menu[admin] ~ .history-period-block {top: 40px; right: 20px;} 
#app #page-device-view #varbind-list {width: 100%; margin-top: 20px;}
#app #page-device-view #varbind-list td {padding: 2px 5px;}
#app #page-device-view #varbind-list tbody tr:hover {background-color: #eff;}
#app #page-device-view #varbind-list #td-name {width: 1px; min-width: 100px;}
#app #page-device-view #varbind-list #td-value {width: 1px; min-width: 150px; max-width: 150px; width: 150px; text-align: center; font-weight: bold; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#app #page-device-view #varbind-list #td-value[status="1"] {background: #0f0;}
#app #page-device-view #varbind-list #td-value[status="2"] {background: gold;}
#app #page-device-view #varbind-list #td-value[status="3"] {background: #f00;}
#app #page-device-view #varbind-list #td-history {padding: 2px 0;}
#app #page-device-view #varbind-list #td-history[is-number="false"] {display: block; max-height: 100px; overflow-y: auto; font-size: 10px; margin-left: 60px;}
#app #page-device-view #varbind-list #td-history[is-number="false"] table {margin-left: 15px;}
#app #page-device-view #varbind-list #td-history[is-number="false"] #history-range-selector {position: fixed}
#app #page-device-view #varbind-list #td-history[is-number="false"] table tr[status="2"] {background: rgba(255,255,200,0.5)}
#app #page-device-view #varbind-list #td-history[is-number="false"] table tr[status="3"] {background: rgba(255,200,200,0.5)}

#app #page-device-edit label.has-varbind {background: #f5f5ff;}
#app #page-device-edit #template-save img {height: 12px;}
#app #page-device-edit #properties table {display: inline; margin-right: 40px;}
#app #page-device-edit #properties table tr td:nth-of-type(2) {padding-left: 20px;}
#app #page-device-edit #properties {margin-bottom: 20px;}
#app #page-device-edit #properties input[type = "text"].long {width: 360px;}
#app #page-device-edit #properties input[type = "text"].long {width: 360px;}
#app #page-device-edit #properties #period {width: 40px; margin: 0; text-align: center;}
#app #page-device-edit #properties #timeout {width: 40px; margin: 0; text-align: center;}
#app #page-device-edit #protocol-params input[type = "text"], 
#app #page-device-edit #protocol-params select {margin-left: 20px;}
#app #page-device-edit #protocol-params table {margin-bottom: 10px;}

#app #page-device-edit #protocol-params select.small {width: 60px;}
#app #page-device-edit #protocol-params select.small ~ input {margin-left: -3px;}
#app #page-device-edit #page-snmp-v3 #protocol-params tr[value="noAuthNoPriv"] ~ tr:not(.class-noAuthNoPriv) {display: none !important;}
#app #page-device-edit #page-snmp-v3 #protocol-params tr[value="authNoPriv"] ~ tr:not(.class-authNoPriv) {display: none !important;}

#app #page-device-edit details {margin-top: 20px; margin-left: 5px;}
#app #page-device-edit details summary {cursor: pointer; outline: none;}
#app #page-device-edit details.help > div {margin-top: 10px;}
#app #page-device-edit details.help > div > ul {margin-left: 15px;}
#app #page-device-edit details.help table {width: 100%}
#app #page-device-edit details.help table tr:hover {background-color: #eff;}
#app #page-device-edit details.help code {background-color: #eee;}

#app #page-device-edit .varbind-list #td-status-conditions {width: 280px;}
#app #page-device-edit .varbind-list #td-status-conditions .status-condition {margin-bottom: 5px;}
#app #page-device-edit .varbind-list #td-status-conditions #if {text-align: center; outline: none; width: 70px; margin-left: 5px;}
#app #page-device-edit .varbind-list #td-status-conditions #if[if="empty"] ~ #value,
#app #page-device-edit .varbind-list #td-status-conditions #if[if="change"] ~ #value,
#app #page-device-edit .varbind-list #td-status-conditions #if[if="any"] ~ #value,
#app #page-device-edit .varbind-list #td-status-conditions #if[if="error"] ~ #value {visibility: hidden;}
#app #page-device-edit .varbind-list #td-status-conditions #value {width: 60px;}
#app #page-device-edit .varbind-list #td-status-conditions #status {text-align: center; outline: none;}
#app #page-device-edit .varbind-list #td-status-conditions #condition-add {font-size: 10px;}

#app #page-device-edit .varbind-list {width: 100%}
#app #page-device-edit .varbind-list tbody td {vertical-align: top; padding: 5px;}
#app #page-device-edit .varbind-list tbody tr:hover {background-color: #eff;}
#app #page-device-edit .varbind-list td > input {width: 100%;}
#app #page-device-edit .varbind-list #varbind-add {float: left; padding-left: 5px;} 
#app #page-device-edit .varbind-list #td-address input {margin-bottom: 2px;}
#app #page-device-edit .varbind-list #td-address {width: 215px;}
#app #page-device-edit .varbind-list #td-address > input {width: 100%; }
#app #page-device-edit .varbind-list #td-address > textarea {width: 100%;}
#app #page-device-edit .varbind-list #td-value-type, 
#app #page-device-edit .varbind-list #td-divider {width: 50px; min-width: 50px;}
#app #page-device-edit .varbind-list #td-divider input {text-align: center;}
#app #page-device-edit .varbind-list #td-value {text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 150px; min-width: 150px; max-width: 150px;}



#app #page-device-edit .varbind-list[protocol="modbus-tcp"] #td-address #func {width: 160px; display:inline;}
#app #page-device-edit .varbind-list[protocol="modbus-tcp"] #td-address #register {width: 49px; display:inline;}
#app #page-device-edit .varbind-list[protocol="modbus-tcp"] #td-address #type:not([value=""]) {width: 160px; clear: right;}
#app #page-device-edit .varbind-list[protocol="modbus-tcp"] #td-address #order:not([value=""]) {width: 50px; display:inline;}
#app #page-device-edit .varbind-list[protocol="modbus-tcp"] #td-address #type[value=""] {display:none}
#app #page-device-edit .varbind-list[protocol="modbus-tcp"] #td-address #order[value=""] {display:none}

#app #page-device-edit .varbind-list[protocol="port"] #td-address #port {width: 140px;}
#app #page-device-edit .varbind-list[protocol="port"] #td-address #protocol {width: 70px;}

#app #page-device-edit .ping-button {margin-left: 5px; cursor: pointer; color: #337ab7;}
#app #page-device-edit .ping-button:after {margin-left: 5px;}
#app #page-device-edit .ping-button[status="0"]:after {content: '\2717';}
#app #page-device-edit .ping-button[status="1"]:after {content: '\2713';}

#app #page-device-edit #tags:not([focused]) ~ #tag-list {display: none;}
#app #page-device-edit #tags[focused] ~ #tag-list {display: block; font-size: 10px;}
#app #page-device-edit #tags[focused] ~ #tag-list span {margin-right: 5px;}

#app #page-device-scan #device-scan-result {display: none;}
#app #page-device-scan #range-wrapper {text-align: center; margin-bottom: 20px;}
#app #page-device-scan #range-wrapper #range {font-size: 24px; padding: 5px; width: 500px; text-align: center;}
#app #page-device-scan #range-wrapper #range ~ span {font-size: 24px;}
#app #page-device-scan #range-wrapper #device-scan-cancel {display: none}
#app #page-device-scan #range-wrapper #device-scan-cancel #loader {display: inline-block; position: relative; bottom: -5px; margin-left: -35px; border: 6px solid #f3f3f3; border-top: 6px solid #3498db; border-radius: 50%; width: 16px; height: 16px; animation: spin 1s linear infinite;}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}

#app #page-device-scan #range-wrapper #help {font-size: 10px;}
#app #page-device-scan #device-scan-result {width: 100%}
#app #page-device-scan #device-scan-result tbody td {padding: 5px;}
#app #page-device-scan #device-scan-result tbody tr:hover {background-color: #eff;}
#app #page-device-scan #device-scan-result tbody #td-ping {width: 30px;}
#app #page-device-scan #device-scan-result tbody #td-period {width: 80px;}
#app #page-device-scan #device-scan-result tbody #td-ip,
#app #page-device-scan #device-scan-result tbody #td-mac {width: 150px;}
#app #page-device-scan #device-scan-result td > input,
#app #page-device-scan #device-scan-result td > select {width: 100%;}
#app #page-device-scan #device-scan-result tbody #td-add {text-align: center;}

#app #page-alert-list-view #alert-list {width: 100%; padding: 20px;}
#app #page-alert-list-view #alert-list td {padding: 0 5px;}
#app #page-alert-list-view #alert-list #td-status {width: 25px; font-size: 24px; font-weight: bold;}
#app #page-alert-list-view #alert-list #td-datetime {width: 120px; font-size: 10px; cursor: pointer;}
#app #page-alert-list-view #alert-list #td-device {width: 200px; cursor: pointer;}
#app #page-alert-list-view #alert-list #td-hide {width: 40px; cursor: pointer;}
#app #page-alert-list-view #alert-list tr:hover {background-color: #eff;}
#app #page-alert-list-view #alert-list tr[status="2"] #td-status {color: gold;}
#app #page-alert-list-view #alert-list tr[status="3"] #td-status {color: #f00;}

#stats {margin: 10px;}
#stats tr:hover {background-color: #eff;}
#stats td {padding: 2px 10px;}
#stats td:nth-of-type(3) {text-align: center;}
#stats td:nth-of-type(4) {text-align: right;}
#stats td:nth-of-type(5) {text-align: right;}
#stats tr:nth-last-child(2) td {padding-top: 20px;}

.dropdown {position: relative;}
.dropdown > .button { border: none; cursor: pointer;}
.dropdown > .content { display: none; position: absolute; background-color: #fff; border: 1px solid #bbb; padding: 0; margin: 0; margin-left: -10px; width: 190px;}
.dropdown > .content > * { text-decoration: none; display: block; padding: 5px 10px; }
.dropdown > .content *:hover { background-color: #eff;}
.dropdown:hover > .content { display: block; z-index: 100;}

.dropdown-click { position: relative; display: inline-block; outline-width: 0; }
.dropdown-click .button { cursor: pointer;}
.dropdown-click:focus {pointer-events: none;}
.dropdown-click:focus .content { opacity: 1; visibility: visible; pointer-events: auto; }
.dropdown-click .content { position: absolute; z-index: 1; opacity: 0; visibility: hidden; transition: visibility 0.5s; width: 160px; background-color: #f9f9f9; border: 1px solid #bbb; }
.dropdown-click .content > * { display: block; padding: 5px 10px;}
.dropdown-click .content > *:hover { background-color: #f1f1f1; z-index: 100;}

.tabs > div, .tabs > input { display: none; margin: 0px;} 
.tabs > label { padding: 5px 15px 5px 15px; border: 1px solid #aaa; line-height: 26px; cursor: pointer; position: relative; background: #fff; margin: 0px;display:inline;} 
.tabs > label.agent:before {content: '\25c6'; margin-right: 5px;}
.tabs > label.external:before {content: '\2327'; margin-right: 5px;}
.tabs > label.expression:before {content: '\3a3'; margin-right: 5px;}
.tabs > label.native:before {}
.tabs > input[type="radio"]:checked + label { border-bottom: 1px solid #fff; margin: 0px;} 
.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1), 
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2), 
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.tabs > input:nth-of-type(5):checked ~ div:nth-of-type(5),
.tabs > input:nth-of-type(6):checked ~ div:nth-of-type(6),
.tabs > input:nth-of-type(7):checked ~ div:nth-of-type(7),
.tabs > input:nth-of-type(8):checked ~ div:nth-of-type(8),
.tabs > input:nth-of-type(9):checked ~ div:nth-of-type(9),
.tabs > input:nth-of-type(10):checked ~ div:nth-of-type(10),
.tabs > input:nth-of-type(11):checked ~ div:nth-of-type(11),
.tabs > input:nth-of-type(12):checked ~ div:nth-of-type(12),
.tabs > input:nth-of-type(13):checked ~ div:nth-of-type(13),
.tabs > input:nth-of-type(14):checked ~ div:nth-of-type(14) { display: block; padding-top: 15px; border-top: 1px solid #bbb; margin: 0px;}

/* Calendar Pickmeup */
.pickmeup{border-radius:.4em;border:1px solid #bbb;-moz-box-sizing:content-box;box-sizing:content-box;display:none;position:absolute;background:#fff;z-index:101}
.pickmeup *{-moz-box-sizing:border-box;box-sizing:border-box}
.pickmeup .pmu-instance{display:inline-block;height:13.8em;padding:.5em;text-align:center;width:15em}
.pickmeup .pmu-instance .pmu-button{cursor:pointer;outline:none;text-decoration:none}
.pickmeup .pmu-instance .pmu-today{background:#17384d;color:#88c5eb}
.pickmeup .pmu-instance .pmu-button:hover{color:#88c5eb}
.pickmeup .pmu-instance .pmu-not-in-month{color:#bbb}
.pickmeup .pmu-instance .pmu-disabled,.pickmeup .pmu-instance .pmu-disabled:hover{color:#333;cursor:default}
.pickmeup .pmu-instance .pmu-selected{background:#136a9f;color:#eee}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{background:#17384d}
.pickmeup .pmu-instance nav{display:-ms-flexbox;display:-webkit-flex;display:flex;line-height:2em}
.pickmeup .pmu-instance nav :first-child :hover{color:#f5f5ff}
.pickmeup .pmu-instance nav .pmu-prev,.pickmeup .pmu-instance nav .pmu-next{display:none;height:2em;width:1em}
.pickmeup .pmu-instance nav .pmu-month{width:14em}
.pickmeup .pmu-instance .pmu-years *,.pickmeup .pmu-instance .pmu-months *{display:inline-block;line-height:3.6em;width:3.5em}
.pickmeup .pmu-instance .pmu-day-of-week{cursor:default}
.pickmeup .pmu-instance .pmu-day-of-week *,.pickmeup .pmu-instance .pmu-days *{display:inline-block;line-height:1.5em;width:2em}
.pickmeup .pmu-instance .pmu-day-of-week *{line-height:1.8em}
.pickmeup .pmu-instance:first-child .pmu-prev,.pickmeup .pmu-instance:last-child .pmu-next{display:block}
.pickmeup .pmu-instance:first-child .pmu-month,.pickmeup .pmu-instance:last-child .pmu-month{width:13em}
.pickmeup .pmu-instance:first-child:last-child .pmu-month{width:12em}
.pickmeup:not(.pmu-view-days) .pmu-days,.pickmeup:not(.pmu-view-days) .pmu-day-of-week,.pickmeup:not(.pmu-view-months) .pmu-months,.pickmeup:not(.pmu-view-years) .pmu-years{display:none}
/* End calendar */