* {margin: 0px; padding: 0px;} 
html,body { padding: 0; margin: 0; font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif; overflow:hidden;}
input[type="text"] {border: 1px solid #bbb; padding: 2px 5px; box-sizing: border-box;}
select {border: 1px solid #bbb; height: 20px;}
textarea {border: 1px solid #bbb; padding: 2px 5px; box-sizing: border-box;}
.hidden {display: none;}
.a {color: #337ab7; cursor: pointer; text-decoration: none;}
.clickable {cursor: pointer}
#template-row {display: none;}

.top-menu {padding: 5px; border-bottom: 1px #eee solid; background-color: #f5f5ff; display: none; height: 21px;}
.top-menu[admin] {display: block;}
.top-menu > div {display: inline-block; cursor: pointer; border-bottom: 1px dashed #eef; margin-left: 10px;}
.top-menu .separator {cursor: initial; margin: 0 10px;	border-left:1px solid #eee; border-right:1px solid #bbb; border-bottom: none; height:100%;}
.history-period {visibility: hidden; position: absolute; display: none;}
.history-period-value {cursor: pointer;}
.history-period-block {position: absolute; right: 20px; padding: 5px 10px; border-radius: 5px; background: #cfc; display: none;}

.top-menu #template-list #template-remove {float: right; position: relative; top: -3px;}


.app:not(.current) {display: none}
//.app {background: url(logo.png) center no-repeat; width: 100%}
.app #navigator {width: 200px; height: 100%; position: relative;}
.app #navigator[status="1"] {background: rgba(200,255,200,0.5)}
.app #navigator[status="2"] {background: rgba(255,255,200,0.5)}
.app #navigator[status="3"] {background: rgba(255,200,200,0.5)}

.app #navigator ul {list-style: none; position: absolute; overflow-y: auto;left: 0; right: 0; top: 0;}
.app #navigator .top-menu[admin] ~ ul {top: 31px !important} 
.app #navigator ul li {cursor: pointer; margin: 3px 0; padding: 3px; padding-left: 10px;}
.app #navigator ul li.active {background-color: #f5f5ff;}
.app #navigator ul li[status]:before {float: left; width: 10px; height: 10px; border-radius: 50%; border:1px solid #eee; background: white; display: inline-block; content: ''; position: relative; top: 12px; margin-right: 3px;}
.app #navigator ul li[status="1"]:before {background: #0f0}
.app #navigator ul li[status="2"]:before {background: gold}
.app #navigator ul li[status="3"]:before {background: #f00}

.app #navigator .top-menu > div:nth-child(1) {margin-left: 0;}

.icon::before {background: url(icons.png) no-repeat; content: ''; display: inline-block; width: 16px; height: 16px; position: relative; margin-right: 2px; top: 2px;} 
.icon:empty::before {margin-right: 0;}
.icon-add::before {background-position: 0;}
.icon-remove::before {background-position: -16px 0;}
.icon-ok::before {background-position: -32px 0;}
.icon-cancel::before {background-position: -48px 0;}
.icon-scan::before {background-position: -64px 0;}
.icon-chart::before {background-position: -80px 0;}
.icon-clone::before {background-position: -96px 0;}
.icon-edit::before {background-position: -112px 0;}
.icon-save::before {background-position: -128px 0;}
.icon-agent::before {background-position: -192px 0;}
.icon-expression::before {background-position: -208px 0;}
.icon-external::before {background-position: -224px 0;}
.icon-native::before {background-position: -240px 0;}
.icon-collector::before {background-position: -256px 0;}
.icon-label::before {background-position: -272px 0;}
.icon-label-color::before {background-position: -288px 0;}
.icon-image::before {background-position: -304px 0;}
.icon-bgcolor::before {background-position: -320px 0;}

#app-device #navigator #device-list {bottom: 42px;}
#app-device #navigator #device-list li[is-hidden] {display: none;}
#app-device #navigator #device-list li[is-hidden]:not(.active) {display: none;}
#app-device #navigator #device-list li:not([alive="true"]) {color: #bbb;}
#app-device #navigator #device-list li #ip {margin-left: 15px; font-size: 10px; display: inline-block;}
#app-device #navigator #device-list li #mac {margin-left: 10px; font-size: 10px; display: inline-block;}
#app-device #navigator #alert-block {cursor: pointer; border: 1px solid #eee; font-size: 24px; line-height: 40px; bottom: 0; height: 40px; position: absolute; left: 0; right: 0; text-align: center; background: #fff; white-space: nowrap;}
#app-device #navigator #alert-block span:before {display: inline-block; width: 18px; height: 18px; content: ''; margin: 0 3px; font-weight: bold; border-radius: 50%; box-shadow: 1px 1px 2px #bbb;}
#app-device #navigator #alert-block > * {position: relative; top: 2px;}
#app-device #navigator #alert-block #anomaly:before {background: rgb(150, 150, 255);}
#app-device #navigator #alert-block #warning:before {background: gold;}
#app-device #navigator #alert-block #critical:before {background: #f00;}

#app-diagram #navigator #diagram-list li {padding-top: 12px; padding-bottom: 12px;}
#app-diagram #navigator #diagram-list li[status]:before {top: 3px;}

.app #page-wrapper {background: #fff; height: 100%;}
.app #page-content {padding: 20px;}
.app #page:empty ~ #dashboard {display: initial;}
.app #page-close {position: absolute; right: 10px; top: 5px; cursor: pointer;}
.app #page:empty ~ #page-close {display: none;}

#app-device #dashboard {display: none;}
#app-device #dashboard .tag-list {text-align: left; margin: 0 10px; padding: 10px;}
#app-device #dashboard[hidden] {display: none;}
#app-device #dashboard .tag-list div {display: inline;}
#app-device #dashboard .tag-list label {margin-right:10px;padding: 5px 10px 5px 5px; cursor: pointer;}
#app-device #dashboard .tag-list input {display: none}
#app-device #dashboard .tag-list input:checked + label {background:#eee;}
#app-device #dashboard #varbind-tag-list {border-top: 1px solid #eee;}

#app-device #dashboard .history-period-block {margin-top: -10px;} 
#app-device #dashboard #graph-block {padding: 30px;}
#app-device #dashboard #graph-block > .graph {display: block;}
#app-device #dashboard #graph-block > .graph:first-child:last-child:hover {background-color: initial;} 
#app-device #dashboard #graph-block > .graph:hover {background-color: #eff;}

#app-device #page-device-view .history-period-block {top: 5px; right: 30px;} 
#app-device #page-device-view .top-menu[admin] ~ .history-period-block {top: 40px; right: 20px;} 
#app-device #page-device-view #varbind-list {width: 100%; margin-top: 20px;}
#app-device #page-device-view #varbind-list td {padding: 2px 5px;}
#app-device #page-device-view #varbind-list tbody tr:hover {background-color: #eff;}
#app-device #page-device-view #varbind-list #td-name {width: 1px; min-width: 130px;}
#app-device #page-device-view #varbind-list #td-value {width: 1px; min-width: 150px; max-width: 150px; width: 150px; text-align: center; font-weight: bold; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#app-device #page-device-view #varbind-list #td-value[status="1"] {background: #0f0;}
#app-device #page-device-view #varbind-list #td-value[status="2"] {background: gold;}
#app-device #page-device-view #varbind-list #td-value[status="3"] {background: #f00;}
#app-device #page-device-view #varbind-list #td-history {padding: 2px 0;}
#app-device #page-device-view #varbind-list #td-history[is-number="true"] {height: 124px;}
#app-device #page-device-view #varbind-list #td-history[is-number="false"] {display: block; max-height: 100px; overflow-y: auto; font-size: 10px; margin-left: 60px;}
#app-device #page-device-view #varbind-list #td-history[is-number="false"] table {margin-left: 15px;}
#app-device #page-device-view #varbind-list #td-history[is-number="false"] #history-range-selector {position: fixed}
#app-device #page-device-view #varbind-list #td-history[is-number="false"] table tr[status="2"] {background: rgba(255,255,200,0.5)}
#app-device #page-device-view #varbind-list #td-history[is-number="false"] table tr[status="3"] {background: rgba(255,200,200,0.5)}
#app-device #page-device-view #varbind-list::after {content: attr(updated); display: inline-block; position: absolute; bottom: 10px; right: 20px; font-size: 10px;}

#app-device #page-device-edit label.without-varbind {color: #bbb;}
#app-device #page-device-edit #template-save img {height: 12px;}
#app-device #page-device-edit #properties table {display: inline; margin-right: 40px;}
#app-device #page-device-edit #properties table tr td:nth-of-type(2) {padding-left: 20px;}
#app-device #page-device-edit #properties {margin-bottom: 20px;}
#app-device #page-device-edit #properties input[type = "text"].long {width: 360px;}
#app-device #page-device-edit #properties input[type = "text"].long {width: 360px;}
#app-device #page-device-edit #properties #period {width: 40px; margin: 0; text-align: center;}
#app-device #page-device-edit #properties #timeout {width: 40px; margin: 0; text-align: center;}

#app-device #page-device-edit details {margin-top: 20px; margin-left: 5px;}
#app-device #page-device-edit details summary {cursor: pointer; outline: none;}
#app-device #page-device-edit details.help > div {margin-top: 10px;}
#app-device #page-device-edit details.help > div > ul {margin-left: 15px;}
#app-device #page-device-edit details.help table {width: 100%}
#app-device #page-device-edit details.help table tr:hover {background-color: #eff;}
#app-device #page-device-edit details.help code {background-color: #eee;}

/* #page-device-edit, #page-check-list-edit */
#app-device #protocol-params td {padding: 0;}
#app-device #protocol-params input[type = "text"], 
#app-device #protocol-params select {margin-left: 20px; width: initial;}
#app-device #protocol-params table {margin-bottom: 10px;}
#app-device #protocol-params select.small {width: 60px;}
#app-device #protocol-params select.small ~ input {margin-left: -3px;}

#app-device .varbind-list #td-status-conditions {width: 280px;}
#app-device .varbind-list #td-status-conditions .status-condition {margin-bottom: 5px;}
#app-device .varbind-list #td-status-conditions #if {text-align: center; outline: none; width: 70px; margin-left: 5px;}
#app-device .varbind-list #td-status-conditions #if[if="empty"] ~ #value,
#app-device .varbind-list #td-status-conditions #if[if="change"] ~ #value,
#app-device .varbind-list #td-status-conditions #if[if="any"] ~ #value,
#app-device .varbind-list #td-status-conditions #if[if="error"] ~ #value {visibility: hidden;}
#app-device .varbind-list #td-status-conditions #value {width: 60px; position: relative; top: -2px;}
#app-device .varbind-list #td-status-conditions #status {text-align: center; outline: none;}
#app-device .varbind-list #td-status-conditions #condition-add {font-size: 10px;}

#app-device .varbind-list {width: 100%}
#app-device .varbind-list tbody td {vertical-align: top; padding: 5px;}
#app-device .varbind-list tbody tr:hover {background-color: #eff;}

#app-device .varbind-list tbody tr[check-id] *[readonly] {background-color: #eee;}
#app-device .varbind-list tbody tr[check-id] #td-remove #varbind-remove {visibility: hidden;}
#app-device .varbind-list tbody tr[check-id] #td-status-conditions #condition-add {visibility: hidden;}
#app-device .varbind-list tbody tr[check-id] #td-status-conditions #condition-remove {visibility: hidden;}

#app-device .varbind-list td input {height: 20px; position: relative; top: -1px;}
#app-device .varbind-list td > input {width: 100%;}
#app-device .varbind-list #varbind-add, 
#app-device .varbind-list #check-add  {float: left; padding-left: 5px;}
#app-device .varbind-list #td-device-tags {width: 200px;}
#app-device .varbind-list #td-device-tags #include-tags {color: green}
#app-device .varbind-list #td-device-tags #exclude-tags {color: red; margin-top: 2px;}
#app-device .varbind-list #td-protocol {width: 100px;}
#app-device .varbind-list #td-protocol-params {width: 240px;}
#app-device .varbind-list #td-address input {margin-bottom: 2px;}
#app-device .varbind-list #td-address {width: 215px;}
#app-device .varbind-list #td-address > input {width: 100%; }
#app-device .varbind-list #td-address > textarea {width: 100%;}
#app-device .varbind-list #td-value-type, 
#app-device .varbind-list #td-divider {width: 50px; min-width: 50px;}
#app-device .varbind-list #td-divider input {text-align: center;}
#app-device .varbind-list #td-value {text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 150px; min-width: 150px; max-width: 150px;}
#app-device .varbind-list #td-value:after {content: '\27f3'; display: block;}

#app-device #page-device-edit .ping-button {margin-left: 5px; cursor: pointer; color: #337ab7;}
#app-device #page-device-edit .ping-button:after {background: url(icons.png); width: 16px; height: 14px; content: ''; display: inline-block; margin-left: 2px;}
#app-device #page-device-edit .ping-button:not([status]):after {display: none;}
#app-device #page-device-edit .ping-button[status="0"]:after {background-position: -176px 0;}
#app-device #page-device-edit .ping-button[status="1"]:after {background-position: -160px 0;}

#app-device #page-device-edit #tags:not([focused]) ~ #tag-list {display: none;}
#app-device #page-device-edit #tags[focused] ~ #tag-list {display: block; font-size: 10px;}
#app-device #page-device-edit #tags[focused] ~ #tag-list span {margin-right: 5px;}

#app-device #page-device-scan #device-scan-result {display: none;}
#app-device #page-device-scan #range-wrapper {text-align: center; margin-bottom: 20px;}
#app-device #page-device-scan #range-wrapper #range {font-size: 24px; padding: 5px; width: 500px; text-align: center;}
#app-device #page-device-scan #range-wrapper #range ~ span {font-size: 24px;}
#app-device #page-device-scan #range-wrapper #device-scan-cancel {display: none}
#app-device #page-device-scan #range-wrapper #device-scan-cancel #loader {display: inline-block; position: relative; bottom: -5px; margin-left: -35px; border: 6px solid #f3f3f3; border-top: 6px solid #3498db; border-radius: 50%; width: 16px; height: 16px; animation: spin 1s linear infinite;}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}

#app-device #page-device-scan #range-wrapper #help {font-size: 10px;}
#app-device #page-device-scan #device-scan-result {width: 100%}
#app-device #page-device-scan #device-scan-result tbody td {padding: 5px;}
#app-device #page-device-scan #device-scan-result tbody tr:hover {background-color: #eff;}
#app-device #page-device-scan #device-scan-result tbody #td-ping {width: 30px;}
#app-device #page-device-scan #device-scan-result tbody #td-period {width: 80px;}
#app-device #page-device-scan #device-scan-result tbody #td-ip,
#app-device #page-device-scan #device-scan-result tbody #td-mac {width: 150px;}
#app-device #page-device-scan #device-scan-result td > input,
#app-device #page-device-scan #device-scan-result td > select {width: 100%;}
#app-device #page-device-scan #device-scan-result tbody #td-add {text-align: center;}

#app-device #page-alert-list-view #alert-list {width: 100%; padding: 20px; margin-top: 2px; padding-top: 35px;}
#app-device #page-alert-list-view #alert-list td {padding: 0 5px;}
#app-device #page-alert-list-view #alert-list #td-status {width: 25px; font-size: 24px; font-weight: bold;}
#app-device #page-alert-list-view #alert-list #td-datetime {width: 120px; font-size: 10px; cursor: pointer;}
#app-device #page-alert-list-view #alert-list #td-path {width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 200px;}
#app-device #page-alert-list-view #alert-list #td-hint {width: 20px; cursor: pointer;}
#app-device #page-alert-list-view #alert-list #td-hide {width: 40px; cursor: pointer;}
#app-device #page-alert-list-view #alert-list tr:hover {background-color: #eff; color: #000 !important;}
#app-device #page-alert-list-view #alert-list tr[status] #td-status {text-align: center;}
#app-device #page-alert-list-view #alert-list tr[status] #td-status::after {width: 16px; height: 16px; display: inline-block; content: ''; border-radius: 50%; box-shadow: 1px 1px 2px #bbb;}
#app-device #page-alert-list-view #alert-list tr[status="2"] #td-status::after {background: gold;}
#app-device #page-alert-list-view #alert-list tr[status="3"] #td-status::after {background: red;}
#app-device #page-alert-list-view #alert-list tr[status="4"] #td-status::after {background: rgb(100, 100, 255);}
#app-device #page-alert-list-view #alert-list tr[is-hidden="1"] {color: #bbb;}
#app-device #page-alert-list-view #alert-list tr[is-hidden="1"] #td-hide {display: none;}
#app-device #page-alert-list-view .history-period-block {right: 30px;}
#app-device #page-alert-list-view #alert-list .reject {float: right; cursor: pointer; color: #f00}

#app-device #page-alert-list-view #alert-list-filter {position: absolute; left: 60px; top: 2px; font-size: 0;}
#app-device #page-alert-list-view #alert-list-filter input[type="checkbox"] {display: none;}
#app-device #page-alert-list-view #alert-list-filter input[type="checkbox"] ~ label {width: 18px; height: 18px; border-radius: 50%; display: inline-block; cursor: pointer; margin-right: 7px; position: relative; top: 3px;}
#app-device #page-alert-list-view #alert-list-filter input[type="checkbox"] + label {box-shadow: 1px 1px 2px #bbb;}
#app-device #page-alert-list-view #alert-list-filter input[type="checkbox"]:checked + label {box-shadow: 0px 0px 3px 3px #ddd;}
#app-device #page-alert-list-view #alert-list-filter input[value="4"] + label {background: rgb(150, 150, 255);}
#app-device #page-alert-list-view #alert-list-filter input[value="2"] + label {background: gold;}
#app-device #page-alert-list-view #alert-list-filter input[value="3"] + label {background: #f00;}
#app-device #page-alert-list-view #alert-list-filter #filter-text {width: 500px; position: relative; top: -2px; margin-left: 55px; font-size: initial; border: none; border-bottom: solid 1px #eee; }

#app-device #page-check-list-edit #restrictions {font-weight: bold; color: red; margin-left: 10px;}

#app-diagram #page-diagram-view #alert-list {position: absolute; right: 20px; list-style: none; z-index: 10;}
#app-diagram #page-diagram-view #alert-list:empty {display:none;}
#app-diagram #page-diagram-view #alert-list::before {content: 'Alerts 24'; display: block; text-align: center;}
#app-diagram #page-diagram-view #alert-list .alert {max-width: 150px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 10px; cursor: default;}
#app-diagram #page-diagram-view #alert-list .alert[status="2"] {background: rgba(255,255,200,0.5);}
#app-diagram #page-diagram-view #alert-list .alert[status="3"] {background: rgba(255,200,200,0.5);}
#app-diagram #page-diagram-view #alert-list .alert[status="4"] {background: rgba(200,200,255,0.5);}
#app-diagram #page-diagram-view #alert-list .alert[is-hidden] {display: none;}

#app-diagram #page-diagram-view #diagram {position: relative;}
#app-diagram #page-diagram-view #diagram .element {position: absolute; background-size: cover; z-index: 2;}
#app-diagram #page-diagram-view #diagram .element[highlight] {outline: 1px dashed blue;}
#app-diagram #page-diagram-view #diagram .element[device-id] {cursor: pointer;}
#app-diagram #page-diagram-view #diagram .element[diagram-id] {cursor: pointer;}
#app-diagram #page-diagram-view #diagram > canvas {position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; pointer-events: none;}

#app-diagram #page-diagram-view #diagram .element[label]:not(.link)::after {content: attr(label); position: absolute; width: 100%; text-align: center; top: 100%; font-size: 10px;}
#app-diagram #page-diagram-view #diagram .element[live-label].status[status="0"]::after {content: attr(label0);}
#app-diagram #page-diagram-view #diagram .element[live-label].status[status="1"]::after {content: attr(label1);}
#app-diagram #page-diagram-view #diagram .element[live-label].status[status="2"]::after {content: attr(label2);}
#app-diagram #page-diagram-view #diagram .element[live-label].status[status="3"]::after {content: attr(label3);}

#app-diagram #page-diagram-view #diagram .element[live-label-color].status[status]::after {color: #000;}
#app-diagram #page-diagram-view #diagram .element[live-label-color].status[status="1"]::after {background: #0f0;}
#app-diagram #page-diagram-view #diagram .element[live-label-color].status[status="2"]::after {background: gold;}
#app-diagram #page-diagram-view #diagram .element[live-label-color].status[status="3"]::after {background: #f00; color: #fff;}

#app-diagram #page-diagram-view #diagram .element[live-bgcolor].status[status] {background: #fff;}
#app-diagram #page-diagram-view #diagram .element[live-bgcolor].status[status="1"] {background: #0f0;}
#app-diagram #page-diagram-view #diagram .element[live-bgcolor].status[status="2"] {background: gold;}
#app-diagram #page-diagram-view #diagram .element[live-bgcolor].status[status="3"] {background: #f00;}

#app-diagram #page-diagram-view #diagram .element[live-image].status[status] {background-position-x: 0;}
#app-diagram #page-diagram-view #diagram .element[live-image].status[status="1"] {background-position-x: -100%;}
#app-diagram #page-diagram-view #diagram .element[live-image].status[status="2"] {background-position-x: -67%;}
#app-diagram #page-diagram-view #diagram .element[live-image].status[status="3"] {background-position-x: -33%;}

#app-diagram #page-diagram-view #diagram .element[type="status"][live-value]::after {content: attr(value) !important;}

#app-diagram #page-diagram-view #diagram .element[type="value"] {text-align: center;}
#app-diagram #page-diagram-view #diagram .element.numeric[type="value"] {border: 1px solid #000;}
#app-diagram #page-diagram-view #diagram .element[type="value"].bvalue::before {content: attr(unit); text-align: right; line-height: initial; font-size: initial; position: absolute; bottom: 3px; right: 5px;}
#app-diagram #page-diagram-view #diagram .element[type="value"].bvalue {padding: 0 5px;}
#app-diagram #page-diagram-view #diagram .element[type="value"]::after {left: 0; font-size: initial; line-height: initial;}

#app-diagram #page-diagram-view #diagram .element.numeric[type="value"].hvalue:not([live-bgcolor]) {background: blue;}
#app-diagram #page-diagram-view #diagram .element.numeric[type="value"].hvalue::before {content: attr(value); text-align: center;}
#app-diagram #page-diagram-view #diagram .element.numeric[type="value"].hvalue div {position: absolute; right: 0; top: 0; bottom: 0; background: #fff; z-index: -1;}

#app-diagram #page-diagram-view #diagram .element.numeric[type="value"].vvalue:not([live-bgcolor]) {background: blue;}
#app-diagram #page-diagram-view #diagram .element.numeric[type="value"].vvalue::before {content: attr(value); position: relative; top: -20px; font-size: 10px;}
#app-diagram #page-diagram-view #diagram .element.numeric[type="value"].vvalue::after {left: -50%;}
#app-diagram #page-diagram-view #diagram .element.numeric[type="value"].vvalue div {position: absolute; right: 0; left: 0; top: 0; background: #fff; z-index: -1;}

#app-diagram #page-diagram-view #diagram .element[type="value"].no-label {font-size: 0}
#app-diagram #page-diagram-view #diagram .element[type="value"].no-label::before{font-size: 0}
#app-diagram #page-diagram-view #diagram .element[type="value"].no-label::after{font-size: 0}


#app-diagram #page-diagram-view #diagram .element[type="status"] {z-value: 4;}
#app-diagram #page-diagram-view #diagram .element[type="value"] {z-value: 5;}
#app-diagram #page-diagram-view #diagram .element[type="graph"] {z-value: 3;}
#app-diagram #page-diagram-view #diagram .element[type="text"] {z-value: 10;}

#app-diagram #page-diagram-view #diagram .element[type="graph"] {border: 1px dotted #eee;}
#app-diagram #page-diagram-view #diagram .element[type="graph"] .dygraph-xlabel {font-size: 10px;}

.app .graph-hint-parent {position: relative;}
.app .graph-hint-parent #graph-hint {position: absolute; border: 1px solid #bbb; z-index: 10; background: #fff;}
.app .graph-hint-parent #graph-hint > div:nth-child(2n) {background-color: #eee;}

#app-diagram #page-diagram-view #diagram .element[type="link"] {padding: 3px; border: 1px solid #bbb; background: #eee; color: #000 !important;}
#app-diagram #page-diagram-view #diagram .element[type="link"]:empty {display: none;}

#app-diagram #page-diagram-edit #grid-size {position: absolute; top: 0; right: 0; z-index: 1;}
#app-diagram #page-diagram-edit #name {position: relative; top: -1px; margin-left: 10px;}
#app-diagram #page-diagram-edit #diagram {position: relative;}
#app-diagram #page-diagram-edit #diagram > canvas {position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; pointer-events: none;}
#app-diagram #page-diagram-edit #diagram .element {position: absolute; -moz-user-select: none; user-select: none; border: 1px dashed #bbb; z-index: 2;}
#app-diagram #page-diagram-edit #diagram .element.link {z-index: 5;}
#app-diagram #page-diagram-edit #diagram .element[current] { z-index: 10; border-color: #000;} 

#app-diagram #page-diagram-edit #diagram .element:not([current]) #remove {display: none}
#app-diagram #page-diagram-edit #diagram .element:not([current]) #link-add {display: none}

#app-diagram #page-diagram-edit #diagram .element #remove {position: absolute; right: 0; top: -4px; cursor: pointer; z-index: 1;}
#app-diagram #page-diagram-edit #diagram .element #resize {width: 10px; height: 10px; background: url(icons.png); background-position: -148px -5px; position: absolute; right: 0; bottom: 0; cursor: se-resize;}
#app-diagram #page-diagram-edit #diagram .element #link-add {width: 10px; height: 10px; background: green; position: absolute; right: 0; bottom: 0; left: 0; top: 0; margin: auto; border-radius: 50%; cursor: pointer}


#app-diagram #page-diagram-edit #diagram .element.link {border-radius: 50%; resize: none;}
#app-diagram #page-diagram-edit #diagram .element.link #remove {display: none}
#app-diagram #page-diagram-edit #diagram .element.link #resize {display: none}
#app-diagram #page-diagram-edit #diagram .element.link #link-add {display: none}

#app-diagram #page-diagram-edit #diagram .element:not(.link)::after {content: attr(label); position: absolute; width: 100%; text-align: center; top: 100%; font-size: 10px;}
#app-diagram #page-diagram-edit #diagram .element.graph::after {content: '1-hour chart'; top: 0;}
#app-diagram #page-diagram-edit #diagram .element.text div {font-size: initial;}
#app-diagram #page-diagram-edit #diagram .element.text::after {content: attr(text); top: 0;}
#app-diagram #page-diagram-edit #diagram .element.value::after {content: 'value'; top: 0;}

#app-diagram #page-diagram-edit #diagram select, input[type = "text"] {border: 1px solid #bbb; width: 100px; font-size: 10px;}
#app-diagram #page-diagram-edit #diagram input[type = "text"] {width: 99px; height: 20px;}
#app-diagram #page-diagram-edit #diagram .element #props {position: absolute; left: 100%; margin-left: 10px; width: 155px; background: #fff; border: 1px solid #bbb; padding: 5px; color: #000 !important;}
#app-diagram #page-diagram-edit #diagram .element #props > div {margin-bottom: 3px;}
#app-diagram #page-diagram-edit #diagram .element #props label {width: 50px; display: inline-block;font-size: 10px !important;}

#app-diagram #page-diagram-edit #diagram .element #props label.icon {width: 30px; position: relative; top: 2px; border-radius: 3px; text-align: center; cursor: pointer;}
#app-diagram #page-diagram-edit #diagram .element #props input[type="checkbox"] {display: none;}
#app-diagram #page-diagram-edit #diagram .element #props input[type="checkbox"]:checked + label {background: #eee;}

#app-diagram #page-diagram-edit #diagram .element #props #min {width: 43px;}
#app-diagram #page-diagram-edit #diagram .element #props #max {width: 43px;}


#stats {margin: 10px;}
#stats tr:hover {background-color: #eff;}
#stats td {padding: 2px 10px;}
#stats td:empty {height: 10px;}
#stats td:nth-of-type(3) {text-align: center;}
#stats td:nth-of-type(4) {text-align: right;}
#stats td:nth-of-type(5) {text-align: right;}

.dropdown {position: relative;}
.dropdown > .button { border: none; cursor: pointer;}
.dropdown > .content { display: none; position: absolute; background-color: #fff; border: 1px solid #bbb; padding: 0; margin: 0; margin-left: -10px; width: 190px;}
.dropdown > .content > * { text-decoration: none; display: block; padding: 5px 10px; }
.dropdown > .content *:hover { background-color: #eff;}
.dropdown:hover > .content { display: block; z-index: 100;}

.dropdown-click { position: relative; display: inline-block; outline-width: 0; }
.dropdown-click .button { cursor: pointer;}
.dropdown-click:focus {pointer-events: none;}
.dropdown-click:focus .content { opacity: 1; visibility: visible; pointer-events: auto; }
.dropdown-click .content { position: absolute; z-index: 1; opacity: 0; visibility: hidden; transition: visibility 0.5s; width: 160px; background-color: #f9f9f9; border: 1px solid #bbb; }
.dropdown-click .content > * { display: block; padding: 5px 10px;}
.dropdown-click .content > *:hover { background-color: #f1f1f1; z-index: 100;}

.tabs > div, .tabs > input { display: none; margin: 0px;} 
.tabs > label { padding: 5px 15px 5px 15px; border: 1px solid #aaa; line-height: 26px; cursor: pointer; position: relative; background: #fff; margin: 0px;display:inline;} 
.tabs > label .remove {margin-left: 10px; cursor: pointer;}
.tabs #protocol-menu .button span {margin-left: 5px; font-size: 18px;}
.tabs #protocol-menu #protocol-list div {cursor: pointer;}
//.tabs .agent:before {content: ''; margin-right: 5px;}
//.tabs .external:before {content: '\2327'; margin-right: 5px;}
//.tabs .expression:before {content: '\3a3'; margin-right: 5px;}
//.tabs .collector:before {content: '\203b'; margin-right: 5px;}
.tabs .native:before {}

.tabs > input.hidden {display: none !important;}
.tabs > label.hidden {display: none !important;}
.tabs > div[id^="page-"].hidden {display: none !important;}

.tabs > input[type="radio"]:checked + label { border-bottom: 1px solid #fff; margin: 0px;} 
.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1), 
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2), 
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.tabs > input:nth-of-type(5):checked ~ div:nth-of-type(5),
.tabs > input:nth-of-type(6):checked ~ div:nth-of-type(6),
.tabs > input:nth-of-type(7):checked ~ div:nth-of-type(7),
.tabs > input:nth-of-type(8):checked ~ div:nth-of-type(8),
.tabs > input:nth-of-type(9):checked ~ div:nth-of-type(9),
.tabs > input:nth-of-type(10):checked ~ div:nth-of-type(10),
.tabs > input:nth-of-type(11):checked ~ div:nth-of-type(11),
.tabs > input:nth-of-type(12):checked ~ div:nth-of-type(12),
.tabs > input:nth-of-type(13):checked ~ div:nth-of-type(13),
.tabs > input:nth-of-type(14):checked ~ div:nth-of-type(14) { display: block; padding-top: 15px; border-top: 1px solid #bbb; margin: 0px;}

/* Calendar Pickmeup */
.pickmeup{border-radius:.4em;border:1px solid #bbb;-moz-box-sizing:content-box;box-sizing:content-box;display:none;position:absolute;background:#fff;z-index:101}
.pickmeup *{-moz-box-sizing:border-box;box-sizing:border-box}
.pickmeup .pmu-instance{display:inline-block;height:13.8em;padding:.5em;text-align:center;width:15em}
.pickmeup .pmu-instance .pmu-button{cursor:pointer;outline:none;text-decoration:none}
.pickmeup .pmu-instance .pmu-today{background:#17384d;color:#88c5eb}
.pickmeup .pmu-instance .pmu-button:hover{color:#88c5eb}
.pickmeup .pmu-instance .pmu-not-in-month{color:#bbb}
.pickmeup .pmu-instance .pmu-disabled,.pickmeup .pmu-instance .pmu-disabled:hover{color:#333;cursor:default}
.pickmeup .pmu-instance .pmu-selected{background:#136a9f;color:#eee}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{background:#17384d}
.pickmeup .pmu-instance nav{display:-ms-flexbox;display:-webkit-flex;display:flex;line-height:2em}
.pickmeup .pmu-instance nav :first-child :hover{color:#f5f5ff}
.pickmeup .pmu-instance nav .pmu-prev,.pickmeup .pmu-instance nav .pmu-next{display:none;height:2em;width:1em}
.pickmeup .pmu-instance nav .pmu-month{width:14em}
.pickmeup .pmu-instance .pmu-years *,.pickmeup .pmu-instance .pmu-months *{display:inline-block;line-height:3.6em;width:3.5em}
.pickmeup .pmu-instance .pmu-day-of-week{cursor:default}
.pickmeup .pmu-instance .pmu-day-of-week *,.pickmeup .pmu-instance .pmu-days *{display:inline-block;line-height:1.5em;width:2em}
.pickmeup .pmu-instance .pmu-day-of-week *{line-height:1.8em}
.pickmeup .pmu-instance:first-child .pmu-prev,.pickmeup .pmu-instance:last-child .pmu-next{display:block}
.pickmeup .pmu-instance:first-child .pmu-month,.pickmeup .pmu-instance:last-child .pmu-month{width:13em}
.pickmeup .pmu-instance:first-child:last-child .pmu-month{width:12em}
.pickmeup:not(.pmu-view-days) .pmu-days,.pickmeup:not(.pmu-view-days) .pmu-day-of-week,.pickmeup:not(.pmu-view-months) .pmu-months,.pickmeup:not(.pmu-view-years) .pmu-years{display:none}
/* End calendar */


.dygraph-legend {width: initial !important; right: 0 !important; left: initial !important; font-size: 10px !important;}
.dygraph-legend b {font-size: 14px;}
.dygraph-legend > span {display: block; font-size: 14px;}
.dygraph-ylabel {position: relative; top: -20px;}

/* Dygraph */
.dygraph-legend{position:absolute;font-size:14px;z-index:10;width:250px;background:#fff;line-height:normal;text-align:left;overflow:hidden}
.dygraph-legend-line{display:inline-block;position:relative;bottom:.5ex;padding-left:1em;height:1px;border-bottom-width:2px;border-bottom-style:solid}
.dygraph-legend-dash{display:inline-block;position:relative;bottom:.5ex;height:1px;border-bottom-width:2px;border-bottom-style:solid}
.dygraph-roller{position:absolute;z-index:10}
.dygraph-annotation{position:absolute;z-index:10;overflow:hidden}
.dygraph-default-annotation{border:1px solid #000;background-color:#fff;text-align:center}
.dygraph-axis-label{z-index:10;line-height:normal;overflow:hidden;color:#000}
.dygraph-title{font-weight:700;z-index:10;text-align:center}
.dygraph-xlabel{text-align:center}
.dygraph-label-rotate-left{text-align:center;transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg)}
.dygraph-label-rotate-right{text-align:center;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg)}
/* End dygraph */